body {
    font-family: "Helvetica neue", "Arial";
    font-size: 14px;
    line-height: 1.9;    
    word-wrap: break-word;
}

#image-gallery {
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#image-gallery h1 {
    margin-bottom: 5px;
}

.searchbox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 350px;
}

.thumbnail {
    border: 0;
}

ul.pager li {
    margin-right: 5px;
}
